<footer id="footer" {% if page.main == true %} class="snap footerhome" {% endif %}>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li><em><b>© {{ site.time | date: '%Y' }} Castellanos & Asociados</b>. Todos los derechos reservados.</em></li>
          <li>Sitio diseñado y desarrollado por <a href="http://rodrigosalmeron.mx" target="_blank"><b>Rodrigo Salmerón</b>.</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <a href="{{site.baseurl}}">{% include logowhite.html %}</a>
      </div>

      <div class="footer-col footer-col-3">
        <ul class="contact-list">
          <li>San Francisco 1626-804. Del Valle, Ciudad de México.</li>
          <li><a href="tel:{{ site.tel1 }}">{{ site.tel1 }}</a></li>
          <li><a href="tel:{{ site.tel2 }}">{{ site.tel2 }}</a></li>
        </ul>
      </div>
    </div>

    {% if page.main == true %}
    <script src="{{site.baseurl}}js/vendor/jquery.scrollify.js"></script>
    <script src="{{site.baseurl}}js/snapscroll.js"></script>
    {% else %}
    <script src="{{site.baseurl}}js/parallax.js"></script>
    {% endif %}

    <script src="{{site.baseurl}}js/main.js"></script>

</footer>
