<footer {% if page.main == true %} class="footerhome" {% endif %}>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}"><b>{{ site.email }}</b></a></li>
          <li>Teléfonos: {{site.tel1}} | {{site.tel2}}</li>
            <li><em><b>© Castellanos & asociados</b><br>Todos los derechos reservados, {{ site.time | date: '%Y' }}.</em></li>
        </ul>
    </div>

      <div class="footer-col footer-col-2">
        <img class="footerlogo" src="{{ site.baseurl }}img/logo.svg">
      </div>

      <div class="footer-col footer-col-3">
        <p>Somos una firma de abogados con más de treinta años de experiencia en derecho contencioso administrativo
          y constitucional conformada por diversos profesionales, entre ellos exfuncionarios del Poder Judicial
          Federal, así como del Tribunal Federal de Justicia Administrativa.</p>
          <br>
        Sitio diseñado y desarrollado por <a href="http://rodrigosalmeron.mx" target="_blank"><b>Rodrigo Salmerón</b>.</p>
      </div>
    </div>

  </div>

</footer>
