/**
 * Site header
 */
header {
      min-height: 56px;
      position: fixed;
      background-color: $white;
      top: 0px;
      width: 100%;
      left: 0;
      padding: 1% 5%;
      box-sizing: border-box;
      color: $brandgrey;
      z-index: 3;
}

.site-title {
    font-size: 24px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    i{
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      text-decoration: underline;
      padding: 3px;
    }

    &,
    &:visited {
        color: $brandgrey;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $brandgrey;
        float: left;
        font-size: 15px;
        letter-spacing: .5px;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
            &::before{
              height: 30px;
              background-color: $brandgrey;
              opacity:0.1;
              width: 1px;
              content: ' ';
              float: right;
              clear: none;
              display: block;
              margin-top: 14px;
              margin-left: 15px;
            }
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $brandgrey;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
footer {
    float: left;
    margin: 0 3% 0 3%;
    width: 94%;
    box-sizing: border-box;
    overflow: hidden;
    position:relative;
    background-color:$white;

    a, a:visited{
      color:$brandgrey;
    }
}

.footerhome{
    margin-top:20%;
    z-index: 3;
    position:relative;
}

.footerlogo{
  width:100%;
  position:relative;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list {
    list-style: none;
    margin-left: 0;
    text-align: right;
    color: $brandgrey;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $brandgrey;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;

}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(30% - (#{$spacing-unit} / 2));
    width:         calc(30% - (#{$spacing-unit} / 2));
    padding-top: 9%;
    box-sizing: border-box;
}

.footer-col-2 {
    width: -webkit-calc(5% - (#{$spacing-unit} / 2));
    width:         calc(5% - (#{$spacing-unit} / 2));
    padding-left:0;
}

.footer-col-3 {
    width: -webkit-calc(60% - (#{$spacing-unit} / 2));
    width:         calc(60% - (#{$spacing-unit} / 2));
    padding: 9% 12% 0 0;
    box-sizing: border-box;
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
main {
    margin-top: 82px;
    width:100%;
    clear:both;
    float: left;
    box-sizing: border-box;
    padding: 0 3%;
}

.pagewrapper{
  padding: 10%;
  min-height: 100%;
  position: relative;
  box-sizing: border-box;
  float:left;
  width:100%;
}

section{
      float: left;
      width: 100%;
      box-sizing: border-box;
      transition: 0.3s ease;
}

.homesection{
  margin-top:0;
  padding-top:0 !important;
  opacity: 1 !important;
}

.homephoto{
  background-image:url("/img/fondoprincipal2.png");
  background-position: top left;
  background-size: cover;
  padding: 30%;
  position: fixed;
  z-index:-1;
  width: 94%;
  box-sizing: border-box;
}

.pagephoto{
  position:relative;
  width:100%;
  background-position: top left;
  background-size: cover;
  padding:10%;
}

#logocontainer{
    width: 25%;
    float:left;
    position: relative;
    left: 50%;
    transform: translateX(-50%) translateZ(0);
    margin-top: 5%;
    transition: 0.5s ease;
    z-index: 2;
  }

#asidelogo{
  position: fixed;
  transition: 0.5s ease;
  right: 3%;
  bottom: 3%;
  width: 125px;
  z-index: 2;
  height: 200px;
  img{
    width:65%;
    float:left;
  }
  a{
    color: $brandgrey;
    float:left;
    clear:both;
  }
}
.appear{
  opacity:1 !important;
}

.disapear{
  opacity:0;
}

.homelogo{
  width: 35%;
  float:left;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.hometype{
  width:100%;
  float:left;
  position: relative;
}

.hometitle {
  position: absolute;
  top: -100%;
  left: -100%;
}

#headerlogo{
  height: 56px;
  padding: 2px;
  box-sizing: border-box;
}

.tels{
  font-size: 16px;
  float: left;
  clear:both;
  font-weight: normal;
  font-family: inherit;
  background-color: transparent;
  border: none;
  color: $white;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  a{
    color:$brandgrey;
    float:left;
    &:before{
        height: 30px;
        background-color: $black;
        opacity: 0.1;
        width: 1px;
        content: ' ';
        float: right;
        clear: none;
        display: block;
        margin: -4px 10px;
    }
    &:nth-last-child(1):before{
      content:none;
    }
    &:hover{
      color:$brandgrey;
    }
  }
}

.introcard{
  width: 45%;
  float: left;
  box-sizing: border-box;
}

.left{
  padding-left: 10%;
  h2{
    font-size: 70px;
    width: 75%;
    text-align: right;
    float: left;
    line-height: 1.2;
  }
  p{
    float: left;
    font-size: 17px;
    width: 75%;
    text-align: right;
    padding-top: 5%;
  }
  &:before{
    height: 200px;
    background-color: $black;
    width: 1px;
    opacity: 0.1;
    content: ' ';
    float: right;
    clear: none;
    display: block;
    margin: 0% 12%;
  }
}

.thirdline:before{
  height:250px;
}

.right{
    padding-right: 10%;
    margin-right: 10%;
    h2{
      font-size: 70px;
      width: 75%;
      text-align: left;
      float: left;
      line-height: 1.2;
    }
    p{
      float: left;
      font-size: 17px;
      width: 75%;
      text-align: left;
      padding-top: 5%;
    }
}

.dato{
  font-size: 70px;
  width: 75%;
  text-align: left;
  float: left;
  line-height: 1.2;
}

.halfcard{
  width:50%;
  float:left;
  box-sizing: border-box;
  padding-top: 10%;
  &:nth-child(2n+2){
    padding-left:5%;
  }
  &:nth-child(2n+1){
    padding-right:5%;
  }
}

.rightcard{
  padding-top:0;
}

.thirdcard{
  width: 33%;
  padding-top: 10%;
  min-height: 400px;

  &:nth-child(3n+1){
    padding-right: 2%;
    padding-left: 2%;
  }
  &:nth-child(3n){
    padding-right: 4%;
  }
  &:nth-child(3n+2){
    padding-left:4%;
  }
}

.spanspacer{
  float:left;
  clear:both;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $brandgrey;
}

.post-link {
    display: block;
    font-size: 24px;
}

form{
  margin-top: 15px;
}

input,textarea{
  border: 0;
  border-bottom: 1px solid $black;
  background-color: $white;
  width:100%;
  font-family: inherit;
  font-size: inherit;
  margin-bottom: 15px;
}

textarea{
  min-height: 80px;
}

.submitbutton{
  font-family: inherit;
  font-size: inherit;
  background-color: $brandgrey;
  color: $white;
  padding: 10px;
}

.pagetitle{
  font-size: 70px;
  text-align: left;
  line-height: 1.2;
  font-weight: bold;
  float: left;
  width: 50%;
  box-sizing: border-box;
}

#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.mainhome section{
    opacity:0;
    padding-top:13%;
    p,h2{
      transition: 0.5s ease;
    }
}

// Animations

#asidelogo{
  transform: translateY(150%);
}

#data1{
  h2{
    transform: translateY(-150%);
  }
  p{
      transform: translateY(150%);
  }
}

#data2{
  h2{
    transform: translateY(-150%);
  }
  p{
      transform: translateY(150%);
  }
}

#data3{
  h2{
    transform: translateY(-150%);
  }
  p{
      transform: translateY(150%);
  }
}

#data4{
  h2{
    transform: translateY(-150%);
  }
  p{
      transform: translateY(150%);
  }
}

.slidein{
  transform: translateX(0) translateY(0) !important;
}

//Parallax


.parallaxParent {
  width: 100%;
  height: 240px;
  float: left;
  overflow: hidden;
  position:relative;
}
.parallaxChild {
  height: 300px;
  position: relative;
  width: 100%;
  top: -115%;
  background-size:cover;
}

.footerParallaxChild{
  height: 460px;
  position: relative;
  width: 100%;
  top: -75%;
  background-size: cover;
}

.footerParallaxParent{
  width: 100%;
height: 420px;
float: left;
overflow: hidden;
position: relative;
}
