/**
 * Site header
 */
header {
      min-height: 56px;
      position: fixed;
      background-color: $white;
      top: 0px;
      width: 100%;
      left: 0;
      padding: 1% 5%;
      box-sizing: border-box;
      color: $grey-color-dark;
      z-index: 2;
}

.site-title {
    font-size: 24px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $grey-color-dark;
        float: left;
        font-size: 15px;
        letter-spacing: .5px;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
            &::before{
              height: 30px;
              background-color: $grey-color-dark;
              opacity:0.1;
              width: 1px;
              content: ' ';
              float: right;
              clear: none;
              display: block;
              margin-top: 14px;
              margin-left: 15px;
            }
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
footer {
    padding: $spacing-unit 0;
    float: left;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(66,66,66,0.05);
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
main {
    margin-top: 82px;
    width:100%;
    clear:both;
    float: left;
    box-sizing: border-box;
    padding: 0 3%;
}

section{
      float: left;
      width: 100%;
      box-sizing: border-box;

      &:nth-last-child(1){
        margin-bottom: 10%;
      }
}
.homephoto{
  background-image:url("/img/fondoprincipal2.png");
  background-position: top left;
  background-size: cover;
  padding: 25%;
  position: fixed;
  z-index:-1;
  width: 94%;
}

#homelogo{
  height: 170px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5%;
}

#hometitle {
  font-size: 40px;
  width: 100%;
  text-align: center;
  color: $brandgrey;
}
.tels a:before{
    height: 30px;
    background-color: #424242;
    opacity: 0.1;
    width: 1px;
    content: ' ';
    float: right;
    clear: none;
    display: block;
    margin-top: 14px;
    margin-left: 15px;
}
button{
  font-size: 16px;
  font-family: inherit;
  background-color: transparent;
  border: none;
  color: $white;
  position: relative;
  margin-bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  a{
    color:$brandgrey;
    &nth-first-child::before{
      height: 30px;
    background-color: #424242;
    opacity: 0.1;
    width: 1px;
    content: ' ';
    float: right;
    clear: none;
    display: block;
    margin-top: 14px;
    margin-left: 15px;
    }
    &:hover{
      color:$brandgrey;
    }
  }
}
.cards{
  p{
    float:left;
    font-size: 17px;
    width: 75%;
    text-align: justify;
  }
}
.dato{
  font-size: 70px;
  width: 70%;
  text-align: left;
  float: left;
  line-height: 1.2;
}

.halfcard{
  width:45%;
  float:left;
  box-sizing: border-box;
  padding-top: 10%;
  padding-left: 10%;
}

.thirdcard{
  width: 33%;
  padding: 10% 0 0% 5%;
  height: 400px;
}

.rightcard{
  padding-left:0;
  padding-right:10%;
  margin-right:5%;
}
.cardimg1{
  height:550px;
  width: 50%;
  margin-bottom: 10%;
}

.cardimg2{
  background-image:url(/img/objetivo.jpg);
  background-size: contain;
  height:550px;
  width: 45%;
}

.spanspacer{
  float:left;
  clear:both;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

form{
  margin-top: 15px;
}

input,textarea{
  border: 0;
  border-bottom: 1px solid $black;
  background-color: $white;
  width:100%;
  font-family: inherit;
  font-size: inherit;
  margin-bottom: 15px;
}

.submitbutton{
  font-family: inherit;
  font-size: inherit;
  background-color: $black;
  color: $white;
  padding: 10px;
}

.pagetitle{
  font-size: 70px;
  text-align: left;
  line-height: 0.4;
  font-weight: bold;
  float: left;
  width: 45%;
  margin-right:5%;
  padding: 10% 0 0 10%;
  margin: 0;
  box-sizing: border-box;
}

#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
