RewriteCond %{HTTP_HOST} !^castellanosasociados.com$ [NC]
RewriteCond %{HTTP_HOST} !^mail.castellanosasociados.com$ [NC]
RewriteRule ^(.*)$ http://castellanosasociados.com/$1 [L,R=301]
RedirectMatch 301 ^/_site/(.*)$ http://castellanosasociados.com/

AddDefaultCharset UTF-8

ErrorDocument 404 /404/

# 3 WEEKS
#<FilesMatch "\.(jpg|svg|png|ico)$">
#Header set Cache-Control "max-age=1814400, public"
#</FilesMatch>

# 1 WEEK
#<FilesMatch "\.(css|js)$">
#Header set Cache-Control "max-age=604800, proxy-revalidate"
#</FilesMatch>
